/* основной цвет текста #8F95A5 */
/* дополнительный цвет текста  #000000 */
/* цвет фона #FFFFFF */
/* дополнительный цвет фона #E5E5E5 */
/* акцент */
:root {
    --primary-text-color:#8F95A5;
    --title-text-color:#000000;
    --add-text-color:#263238;
    --accent-color:#E5E5E5;
    --primary-bg-color:#FFFFFF;
    --logo-color:#939393;
    --color-counter:#2A3246;
}

body {
    background-color:var(--primary-bg-color);
    color: var(--primary-text-color); 
    font-family: Poppins, sans-serif;
    line-height: 1.5;
}
/* Logo */
 .logo-header {
        color: var(--title-text-color);
         font-size: 36px;  
 }
 .logo-end {
   color: var(--logo-color);
 }

/* Site nav */
.site-nav .link {
    color: var(--add-text-color);
       text-decoration: none;
       font-weight: 500;
       font-size: 20px;
        }
.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--primary-text-color) ;
    
}
.site-nav {
    list-style: none;
}

.button-header {

   background-color: var(--primary-bg-color);
   font-size: 20px;
   text-align: center;
   letter-spacing: 0.03em;
}
 /* Hero */

 .hero-title {
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
      }

 .section-title {
    color: var(--title-text-color);
   font-weight: 600;
      font-size: 48px;
      text-align: center;
 }

 .hero-title + .discription {
      font-size: 24px;
      color: var(--primary-text-color);
 }
 
 /* Skills */
 .skills-list .title {
    color: var(--add-text-color);
   font-weight: 600;
   font-size: 30px;
 }
.skills-list .description {
      font-size: 16px;
 }
 .skills-list {
   list-style: none;
 }
 .skill-list-item {
   background-color: var(--accent-color);
 }
/* About us */
.section-about-us {
   text-align: left;
}
.discription-about-us {
   font-size: 20px;
   line-height: 1.8;
}
.text-counter {
  color: var(--color-counter);
  font-weight: 600;
  font-size: 48px;
}

.text {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-text-color);
}
.counter-list {
  list-style: none;
}

 /* Pricing */
 .pricing-list {
  list-style: none;
 }

 .pricing-list .title {
    color: var(--add-text-color);
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
    text-transform: capitalize;
 }
 .discripton-pricing {
    font-size: 20px;
 }
.price {
    font-size: 24px;
    text-align: center;
    color: var(--add-text-color);
    background-color: #EEEEEE;
}
.permonth {
    font-size: 18px;
    text-align: center;
    color: #546269;
    background-color: #EEEEEE;
}

 /* Button */
 .button-skills {
   color:var(--primary-bg-color);
   background-color: var(--add-text-color);
   font-family: inherit;
   font-weight: 500;
   font-size: 18px;
 }

 /* Form */
 /* Contacts */

 .email {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
 }
 .submit {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    background-color: var(--add-text-color);

 }
 /* Footer */
 .footer-list {
   list-style: none;
 }
 .footer-list__link {
   text-decoration: none;
   font-size: 24px;
   letter-spacing: 0.02em;
   color: var(--primary-text-color);
 }
 