/* основной цвет текста #8F95A5 */
/* дополнительный цвет текста  #000000 */
/* цвет фона #FFFFFF */
/* дополнительный цвет фона #E5E5E5 */
/* акцент */
:root {
    --primary-text-color:#8F95A5;
    --title-text-color:#000000;
    --add-text-color:#263238;
    --accent-color:#E5E5E5;
    --primary-bg-color:#FFFFFF;
}

body {
    background-color:var(--primary-bg-color);
    color: var(--primary-text-color); 
}
 .logo-header {
        color: #939393}
/*position: absolute;
width: 106px;
height: 54px;
left: 131px;
top: 63px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
display: flex;
align-items: center;

color: #000000;
*/

/* Site nav */
.site-nav .link {
    color: var(--add-text-color);
       text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--primary-text-color) ;
    
}
.site-nav {
    list-style: none;
}
 /* Hero */

 .hero-title {
    color: var(--title-text-color);
 }

 .section-title {
    color: var(--title-text-color);
 }
 /* Skills */
 .skills-list .title {
    color: var(--add-text-color);
 }
 .description .skills-list {
    color:var(--primary-text-color)
 }

 /* Pricing */
 .pricing-list .title {
    color: var(--add-text-color);
 }

 /* Button */
 .button-skills {
    color:var(--primary-bg-color);
    background-color: var(--add-text-color)
 }